<!--navigation starts here-->
<div class="container-fluid bg-light position-relative shadow">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
        <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
            <i class="flaticon-043-teddy-bear"></i>
            <span class="text-primary">LWA</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav font-weight-bold mx-auto py-0">
                <a routerLink="" class="nav-item nav-link active">Home</a>
                <a routerLink="/aboutus" class="nav-item nav-link">About</a>
                <a routerLink="/contactus" class="nav-item nav-link">Contact</a>
                <a href="pagenotfound" class="nav-item nav-link">Company</a>
                <a href="" class="nav-item nav-link">Locate Us</a>
            </div>
            <a routerLink="/login" class="btn btn-primary px-4">Login</a> &nbsp;&nbsp;&NonBreakingSpace;&nbsp;&nbsp;
            <a routerLink="/register" class="btn btn-primary px-4">Enroll Now</a>
        </div>
    </nav>
</div>
<!-- Navigation ends here -->
