<!--header starts here-->
 <!-- Header Start -->
 <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <br> &nbsp;
            <h4 class="text-white mb-4 mt-5 mt-lg-0">New Way of Learning</h4>
            <h1 class="display-3 font-weight-bold text-white">Learning 
                Web 
                App
            </h1>
            <br> &nbsp;
            <p class="text-white mb-4">Learn how to code or build your skills in programming online to gain a better understanding of how websites and apps are designed and developed.</p>
            <a href="" class="btn btn-secondary mt-1 py-3 px-5">Register Now</a>
            <br> &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="/assets/img/main.png" alt="">
        </div>
    </div>
</div>
<br>&nbsp; <br> &nbsp; <br>
<!-- Header End -->
