<!--header starts here-->
 <!-- Header Start -->
 <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <br> &nbsp;
            <h4 class="text-white mb-4 mt-5 mt-lg-0">{{"TH.TEXT6"| translate}}</h4>
            <h1 class="display-3 font-weight-bold text-white">{{"TH.TEXT3"| translate}}</h1>
            <br> &nbsp;
            <p class="text-white mb-4">{{"TH.TEXT2"| translate}}</p>
            <a href="" class="btn btn-secondary mt-1 py-3 px-5">{{"TH.TEXT4"| translate}}</a>
            <br> &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="/assets/img/main.png" alt="">
        </div>
    </div>
</div>
<br>&nbsp; <br> &nbsp; <br>
<!-- Header End -->
