
<app-header></app-header>
<mat-card>
    <mat-card-content>
      <div class="header">
        <P>Sign Into Your Account </P>
      </div>


<form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">

      <!--Email-->
    <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="Email"  matInput placeholder="Enter email address" required  />
            <mat-error *ngIf="!loginForm.controls['Email'].valid"> Email is required</mat-error>
        </mat-form-field>
    </div>

        <!--password-->

    <div>
        <span>
            <a class="text-link" class="aLink" routerLink="#">Forgot Password?</a>
        </span>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" required />
            <mat-error *ngIf="!loginForm.controls['password'].valid">Password is required </mat-error>
        </mat-form-field>
    </div>

        <button type="submit" mat-flat-button color="primary" >Login</button> <br><br>


       <p> New user? &nbsp;<button  routerLink="/register" mat-flat-button color="primary" >Register</button></p>
        
</form>
    </mat-card-content>
  </mat-card>

<app-footer></app-footer>