
<app-header></app-header>
<br>&nbsp; &nbsp; &nbsp;
<div class="container">

  <form action="index.html">
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" >
      </div>
      <br>
      <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <br>
      <div class="form-group form-check">
          <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>

      <p style="text-align: center;">Need an Account ?<a routerLink="/register">Register</a></p>
  </form>
</div>

<app-footer></app-footer>