<!-- Facilities Start -->
<div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>CSHARP</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                        <br> &nbsp;
                        <div class="pl-4">
                            <a href="" class="btn btn-primary px-lg-5">Enroll Now</a>    
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>WEB DEVELOPMENT</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                        <br> &nbsp;
                        <div class="pl-4">
                            <a href="" class="btn btn-primary px-lg-5">Enroll Now</a>    
                        </div> </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>ASP.NET</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                        <br> &nbsp;
                        <div class="pl-4">
                            <a href="" class="btn btn-primary px-lg-5">Enroll Now</a>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>SQL</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                        <br> &nbsp;
                        <div class="pl-4">
                            <a href="" class="btn btn-primary px-lg-5">Enroll Now</a>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>PYTHON</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                        <br> &nbsp;
                        <div class="pl-4">
                            <a href="" class="btn btn-primary px-lg-5">Enroll Now</a>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>CODING CLASSES</h4>
                        <p class="m-0">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...</p>
                        <br> &nbsp;
                        <div class="pl-4">
                            <a href="" class="btn btn-primary px-lg-5">Enroll Now</a>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>&nbsp; <br> &nbsp; <br>
<!-- Facilities Start -->

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/img/main.png" alt="">
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5"><span class="pr-2">Learn About Us</span></p>
                <h1 class="mb-4">Be a Part of Learning Web App</h1>
                <p>A programming language is any set of rules that converts strings, or graphical program elements in the case of visual programming languages, to various kinds of machine code output. Programming languages are one kind of computer language, and are used in computer programming to implement algorithms.</p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid rounded" src="img/about-2.jpg" alt="">
                    </div>
                    
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Class Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Popular Classes</span></p>
            <h1 class="mb-4">LWA OFFERS</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <img class="card-img-top mb-2" src="img/class-1.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title">Basic Programming</h4>
                        <p class="card-text">A programming language is any set of rules that converts strings </p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Language</strong></div>
                            <div class="col-6 py-1">Javascript</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Capacity</strong></div>
                            <div class="col-6 py-1">10</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Duration</strong></div>
                            <div class="col-6 py-1">6 months</div>
                        </div>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right"><strong>Total Cost</strong></div>
                            <div class="col-6 py-1">₹ 10000</div>
                        </div>
                    </div>
                    <a (click)="makePayment(10000)" class="btn btn-primary px-4 mx-auto mb-4">Enroll Now</a>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <img class="card-img-top mb-2" src="img/class-2.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title">Standard Programming</h4>
                        <p class="card-text">A programming language is any set of rules that converts strings </p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Language</strong></div>
                            <div class="col-6 py-1">Javascript</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Capacity</strong></div>
                            <div class="col-6 py-1">10</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Duration</strong></div>
                            <div class="col-6 py-1">6 months</div>
                        </div>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right"><strong>Total Cost</strong></div>
                            <div class="col-6 py-1">₹ 100000</div>
                        </div>
                    </div>
                    <a (click)="makePayment(10000)" class="btn btn-primary px-4 mx-auto mb-4">Enroll Now</a>
                </div>
            </div>

            <div class="col-lg-4 mb-5">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <img class="card-img-top mb-2" src="img/class-3.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title">Advanced Programming</h4>
                        <p class="card-text">A programming language is any set of rules that converts strings </p>
                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Language</strong></div>
                            <div class="col-6 py-1">Javascript</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Capacity</strong></div>
                            <div class="col-6 py-1">10</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right"><strong>Duration</strong></div>
                            <div class="col-6 py-1">6 months</div>
                        </div>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right"><strong>Total Cost</strong></div>
                            <div class="col-6 py-1">₹ 1000000</div>
                        </div>
                    </div>
                    <a (click)="makePayment(100000)"class="btn btn-primary px-4 mx-auto mb-4">Enroll Now</a>
                </div>
            </div>
            </div>
        </div>
    </div>
<!-- Class End -->